<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h3>Employee Management</h3>

    <form th:action="@{/search}" method="get">
        <input type="text" name="search" id="search">
        <button type="submit">Search</button>
    </form>

    <a th:href="@{/create}" type="button" class="btn btn-success">Add New Employee</a>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th><a href="/employees?option=employeeCode">EmployeeCode</a></th>
            <th><a href="/employees?option=name">Name</a></th>
            <th><a href="/employees?option=age">Age</a></th>
            <th><a href="/employees?option=salary">Salary</a></th>
            <th><a href="/employees?option=branch">Branch</a></th>
            <th></th>
        </tr>

        <tr th:each="e, loop:${employees}">
            <td th:text="${loop.count}"></td>
            <td th:text="${e.employeeCode}"></td>
            <td><a th:href="@{/{id}/detail(id=${e.id})}" th:text="${e.name}"></a></td>
            <td th:text="${e.age}"></td>
            <td th:text="${e.salary}"></td>
            <td th:text="${e.branch.name}"></td>
            <td>
                <a th:href="@{/{id}/edit(id=${e.id})}" type="button" class="btn btn-primary">Update</a>
                <a th:href="@{/{id}/delete(id=${e.id})}" type="button" class="btn btn-danger">Delete</a>
            </td>

        </tr>
    </table>

    <button th:if="${employees.hasPrevious()}"><a th:href="@{/employees(page=${employees.number}-1,option = ${option})}"><<<<<<</a></button>
    <b th:text="${employees.number} + 1"></b> / <b th:text="${employees.totalPages}"></b>
    <button th:if="${employees.hasNext()}"><a th:href="@{/employees(page=${employees.number}+1,option = ${option})}">>>>>>></a></button>
</div>
</body>
</html>